<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadraoSite">
<head>
	<title>Cidade | Secretária de Saúde de Ibirama</title>
</head>
<section layout:fragment="conteudo">
                <div class="center_content_pages">
                    <div class="wide_content">
                        <h2>A Fundação</h2>
                        <img align="center" th:src="@{/images/pic.jpg}" alt="" title="" border="0"  height="300" width="920" class="pic" />
                        <p>
                            A História de Ibirama teve início em fins de 1897, mais precisamente em 8 de Novembro, com a chegada da primeira leva de imigrantes alemães. Uma expedição chefiada pelo Diretor da Sociedade, Alfred Sellin, fundou a sede da colônia, que recebeu o nome de Hamônia.
                        </p><br /> 

                        <p>
                            A emancipação da colônia é datada em 11 de Março de 1934. Seu nome foi trocado para Dalbérgia e em 1943 passou a ser chamada Ibirama, que em linguagem indígena quer dizer “terra da fartura”.
                            Nossa cidade é conhecida pelo seu potencial turístico. As belezas naturais e o relevo acidentado transformam Ibirama em um local propício para a prática de esportes de aventura. O turismo rural e a preservação da cultura germânica são de grande relevância. Além disso, está instalada em Ibirama a maior tirolesa urbana do Brasil.
                            <br /><br />
                        </p>
                        
                        <p>A população de Ibirama, segundo dados do IBGE de 2016, é de 18.567 habitantes. Possui um Índice de Desenvolvimento Humano Municipal – IDHM de 0,737 e um PIB per capita de R$ 21.067,87. Com uma taxa de pessoal ocupado da ordem de 7.138 pessoas.</p>
                        <br />
                        <br />
                        <br />
                        

                    

                    </div>
                    <div class="block_wide">
                        <h2>Dados do Município </h2>


                        <b>Localização</b><br /><br />

                        <b>Latitude:</b> 27°03'2<br />
                        <b>Longitude:</b> 49°31'0<br />
                        <b>Região turística:</b> Caminhos do Alto Vale<br />
                        <b>Microrregião:</b> Microrregião do Alto Vale do Itajaí<br />
                        <b>Municípios limítrofes:</b> José Boiteux, Presidente Getúlio, Rio do Sul, Lontras, Apiúna, Ascurra e Benedito Novo.<br />
                        <br /><br />
                        <b>Características geográficas</b><br /><br />

                        <b>Área:</b> 246.71 km² (fonte: IBGE)<br />
                        <b> População:</b> 18.567 habitantes (IBGE  - estimativa da população 2016)<br />
                        <b>Altitude:</b> 150 m<br />
                    </div>





                    <div class="clear"></div>
                </div>

</section>
</html>