<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadraoSite">
<head>
<title>Consulta Exames | Secretária de Saúde de Ibirama</title>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
</head>
<section layout:fragment="conteudo">

        	<div class="center_content_pages">

                    <div class="financial-application-form">
                        <h2>Consultar Exames</h2>

                        <p>
                           A secretária municipal se preocupa com o bem estar de seus cidadãos e estamos aqui para ajudar no que for preciso, esse é o nosso canal de comunicação caso tenha uma dúvida, crítica ou sugestão preencha os campos que iremos entrar em contato o mais rápido possivel. 

                        </p>
						<form method="GET" th:action="@{/consultar}" th:object="${filtro}">
                        <div class="form">
                            <div class="form_row">
                                <label>CPF:</label>
                                <input id="cpf" type="text" name="cpf" class="" th:field="*{cpf}" />
                            </div>

                            <div class="form_row">
                                <label>Data de Nascimento:</label>
                                <input id="data-nascimento" th:type="text" name="data" class="dataaniversario" th:field="*{dataNascimento}"/>
                            </div> 
						
                            
                            <div class="left_block">
                                <input type="submit" class="cpf" value="Consultar" />
                            </div>
						
                        </div>
                        </form>
                    </div>

                    <div class="testimonials">
                        <h2>Lembretes para sua consulta</h2>
                        <p>
                            
                            • Chegue cedo ao local de sua consulta ou exame. <br />
                             • Leve consigo seu RG, seu cartão agendamento.<br />
                             • Leve sua requisição de exame caso aja.<br />
                             • Leve seu comprovante de agendamento com especialista.<br />
                             • Crianças menores de 12 deverão aparecer acompanhadas.<br />
                             • Caso seu exame ou consulta seja em outra cidade entre em <a href ="contato.html"> contato</a>.<br />
                             
                        </p>



                    </div>
				<div class="clear"></div>
                </div>
</section>
 
</html>