<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadraoSite">
<head>
<title>Secretaria de Saúde de Ibirama</title>
</head>
<section layout:fragment="conteudo">

        	<div class="middle_banner">               
	            <div class="featured_slider">
	                <!-- begin: sliding featured banner -->
	                <div id="featured_border" class="jcarousel-container">
	                    <div id="featured_wrapper" class="jcarousel-clip">
	                        <ul id="featured_images" class="jcarousel-list">
	                            <li><img th:src="@{images/slider_photo.png}" width="965" height="280" alt="" /></li>
	                            <li><img th:src="@{images/slider_photo2.png}" width="965" height="280" alt="" /></li>
	                            <li><img th:src="@{images/slider_photo3.jpg}" width="965" height="280" alt="" /></li>
	                            <li><img th:src="@{images/slider_photo4.png}" width="965" height="280" alt="" /></li>
	                        </ul>
	                    </div>
	                    <div id="featured_positioner_desc" class="jcarousel-container">
	                        <div id="featured_wrapper_desc" class="jcarousel-clip">
	                            <ul id="featured_desc" class="jcarousel-list">                 
	                                <li>
	                                    <div>
	                                        <p>As vacinas disponíveis nesta campanha para crianças menores de 7 anos são: BCG – ID, hepatite B, penta (DTP/Hib/Hep B), VIP (Vacina Inativada Poliomielite), VOP (vacina oral contra pólio), VORH (Vacina Oral de Rotavírus Humano), vacina pneumocócica 10 valente, febre amarela, tríplice viral (sarampo, rubéola, caxumba), DTP (tríplice bacteriana), vacina meningocócica conjugada tipo C, tetraviral (sarampo, rubéola, caxumba e varicela) e hepatite A.
	                                        </p>
	                                    </div>
	                                </li> 
	                                <li>
	                                    <div>
	                                        <p>Objetivo é enfrentar a discriminação institucional e o reforço à Política Integral de Saúde da População Negra.
	                                        </p>
	                                    </div>
	                                </li> 
	                                <li>
	                                    <div>
	                                        <p> A imunização começou ontem (10) para profissionais de saúde e estará disponível ao restante da população a partir da semana que vem, no dia 17 (segunda-feira).
	                                        </p>
	                                    </div>
	                                </li>  
	                                <li>
	                                    <div>
	                                        <p>O Ministério da Saúde, com as Secretarias Estaduais e Municipais de Saúde, lança a sua 36ª Campanha Nacional de vacinação anual contra a Poliomielite.
	                                        </p>
	                                    </div>
	                                </li> 
	                            </ul>
	                        </div>
	
	                    </div>
	                    <ul id="featured_buttons" class="clear_fix">
	                        <li>1</li>
	                        <li>2</li>
	                        <li>3</li>
	                        <li>4</li>
	                    </ul>
	                </div>
	                <!-- end: sliding featured banner -->
	                    </div>
	
	
	
	                </div>
	
	
	                <div class="center_content">
	
	
	
	                    <div class="home_section_left">
	
	                        <h2 class="home_title">Campanha de Vacinação</h2>
	                        <div class="home_subtitle">Vacine seu filho até 12/12</div>
	
	                        <div class="home_section_thumb">
	                            <img th:src="@{images/icon1.jpg}" alt="" title="" height="120" width="270"/>
	                        </div>
	                        <p><span>Começo</span><br />
	                            A Campanha de Multivacinação do Ministério da Saúde foi lançada na última quarta-feira (13), e vai até 22 de setembro. Neste ano, serão convocados mais de 47 milhões de crianças menores de cinco anos, crianças de nove anos e adolescentes de 10 a 15 anos incompletos para atualizarem o calendário de vacinação em todo País.
	                        </p><br/><br/><p><span>Sucesso</span><br/>
	                            “O sucesso dessa política ao longo dos anos permitiu que no Brasil muitas doenças – como a varíola, o sarampo, rubéola e a pólio – fossem erradicadas”, afirmou a coordenadora do Programa Nacional de Imunizações (PNI), do Ministério da Saúde, Carla Domingues.
	                        </p>
	                        <div class="clear"></div>
	                    </div>
	
	
	                    <div class="home_section_left">
	
	                        <h2 class="home_title">Doe Sangue - Salve Vidas</h2>
	                        <div class="home_subtitle">Hemosc Rio do Sul</div>
	
	                        <div class="home_section_thumb">
	                            <img th:src="@{images/sangue.jpg}" alt="" title="" height="120" width="270"/>
	                        </div>
	                        <p><span>O que é?</span><br/>
	                            A doação é a retirada de aproximadamente 450 mL de sangue, através de inserção de uma agulha em um dos braços.
	                            A coleta é feita por pessoal capacitado e sob supervisão de um médico ou enfermeiro, garantindo o bem estar do doador. 
	                            <br/> <br/>
	                            <span>Por que doar sangue?</span><br/>
	                            O sangue é um tecido vivo que circula pelo corpo, essencial à vida.
	Todos os dias acontecem centenas de acidentes, cirurgias e queimaduras violentas que exigem transfusão, assim como os portadores de hemofilia, leucemia e anemias. 
	                        </p>
	                        <div class="clear"></div>
	                    </div>
	
	                    <div class="home_section_left">
	                        <h2 class="home_title">Doe Orgãos - Doe Vidas</h2>
	                        <div class="home_subtitle">Patrocinio PROERD</div>
	
	                        <div class="home_section_thumb">
	                            <img th:src="@{images/doe.jpg}" alt="" title="" height="120" width="270"/>
	                        </div>
	                        <p><span>Doação após a morte​</span><br/>
	                            Se você quiser se tornar um doador, a atitude mais importante é informar esse desejo a seus familiares uma vez que, após sua morte, eles decidirão sobre a doação.
	                            <br/> <br/>
	                            <span>Doação em vida</span><br/>
	                            É possível também a doação entre vivos, no caso de órgãos duplos (ex: rim). No caso do fígado e do pulmão, também é possível o transplante entre vivos, sendo que apenas uma parte do órgão do doador poderá ser transplantada no receptor.
	                        </p>
	                        <div class="clear"></div>
	                    </div>
	
	
	                    <div class="left_block_wide">
	                        <h2>Últimos Eventos</h2>
	
	                        <a th:href="@{#}"><img th:src="@{images/caridade1.jpg}" alt="" title="" border="0" height="120" width="270" class="projects" /></a>
	                        <a th:href="@{#}"><img th:src="@{images/caridade2.jpg}" alt="" title="" border="0" height="120" width="270" class="projects" /></a><!--
	                <a th:href="@{#"><img th:src="@{images/caridade3.jpg" alt="" title="" border="0" class="projects" /></a>-->
	
	
	            </div>
	
	            <div class="right_block">
	                <h2>Telefones:</h2>
	                <p>
	                    <b>Secretaria Municipal de Saúde de Ibirama</b><br/> Rua Nereu Ramos, 50 - Centro<br/> (47) 3357-8650
	                </p>
	
	
	            </div>
				<div class="clear"></div>
	        </div>
</section>
</html>