<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadraoSite">
<head>
	<title>Centros de Atendimento | Secretária de Saúde de Ibirama</title>
</head>
<section layout:fragment="conteudo">
     <div class="center_content_pages">


                    <div class="left_content">

                        <div class="left_block">
                            <div class="wide_content">
                                <h2>Atendimento</h2><br />
                                <h3>Secretaria de Saúde</h3>
                                <b><a href ="https://goo.gl/maps/VQf333BwrMw"> Secretaria Municipal de Saúde de Ibirama</a></b> - Rua Nereu Ramos, 50 - Centro - (47) 3357-8650
                                <br /><br />

                                <h3>Centros de Atendimento</h3>
                                <b><a href="https://goo.gl/maps/rYyME5NsgZH2"> CAPS - Centro de Atenção Psicossocial</a></b> - Rua Joinville, 112 - Centro - (47) 3357-2535<br /><br />
                                <b><a href="https://goo.gl/maps/1E7gdyGVduQ2"> CEO - Centro de Especialidades Odontológicas</a></b> - Rua XV de Novembro, 364 - Centro - (47) 3357-8616<br /><br />
                                <b><a href="https://goo.gl/maps/qiWYie82DEp"> Centro de Saúde - Anchieta</a></b> - Rua XV de Novembro, 459 - Centro - (47) 3357-8600<br /><br />
                                <b><a href="https://goo.gl/maps/8xNSM4Tk7Rr">Centro de Saúde - Dalbergia</a></b> - Avenida Missler, 730 - Dalbergia - (47) 3357-0146<br /><br />
                                <b><a href="https://goo.gl/maps/psbxp1xYBTr"> Centro de Saúde - Ponto Chic</a></b> - Rua 1º de Maio, 730 - Ponto Chic - (47) 3357-4487<br /><br />
                                <b><a href="https://goo.gl/maps/T42z2rPBTLB2"> Centro de Saúde> - Progesso</a></b> - Rua Adolfo Zaizer, S/N - Progresso - (47) 3357-4591<br /><br />
                                <b><a href="https://goo.gl/maps/sdeJUkvkgqJ2"> Centro de Saúde - Serra São Miguel</a></b> - Rua Santa Catarina, S/N - São Miguel - (47) 98816-9938<br /><br />
                                <b><a href="https://goo.gl/maps/bCTweZBT1LF2"> Centro de Saúde - Tiradentes</a></b> - Rua Bahia, S/N - Areado - (47) 3357-8600<br /><br />
                                <b><a href="https://goo.gl/maps/qiWYie82DEp">PAM - Posto de Assistência Médica</a></b> - Rua XV de Novembro, 459 - Centro - (47) 3357-8600<br /><br />
                                <b><a href="https://goo.gl/maps/y53KcfeXZyy"> NASF - Núcleos de Apoio à Saúde da Família</a></b> - Rua XV de Novembro, 458 - Centro - (47) 3357-8600<br /><br />

                            </div>          
                        </div>







                    </div>


                    <div class="right_block">
                        <h2>Notícias</h2>

                        <div class="home_news">
                            <a th:href="@{/}">Campanha de Vacinação
Vacine seu filho até 12/12</a>
                            <a th:href="@{/}">Doe Sangue - Salve Vidas
Hemosc Rio do Sul</a>
                            <a th:href="@{/}">Multivacinação de 11 a 22 de Setembro - Participe, todos juntos contra poliomelite infantil.</a>
                            
                        </div>



                    </div>

                    <div class="clear"></div>
      </div>

</section>
</html>