<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Resultado Consulta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/consultacss.css}" media="screen" />
</head>
<body>

<div id="wrapper">
            <h1>Exames - Secretária de Saúde de Ibirama</h1>

            <table id="keywords" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th><span>Nome</span></th>
                        <th><span>CPF</span></th>
                        <th><span>Local</span></th>
                        <th><span>Data</span></th>
                        <th><span>Médico</span></th>
                        <th><span>Especialidade</span></th>
                    </tr>
                </thead>
                <tbody>
					<tr th:each="exame : ${exames}">
						<td th:text="${exame.paciente.nome}"></td>
						<td th:text="${exame.paciente.cpf}"></td>
					    <td th:text="${exame.local.nome}"></td>
						<td th:text="${{exame.data}}"></td>
						<td th:text="${exame.medico.nome}"></td>
						<td th:text="${exame.medico.especialidade}"></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(exames)}">Nenhum exame foi encontrado</td>
					</tr>
                </tbody>
            </table>
        </div> 

</body>
</html>